<!DOCTYPE html>
<html ng-app="angularTestApp">
<head>
	<title>Angular test</title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body>
<p>Hello {{ 1 + 1 }}</p>


<div ng-controller="TestRepeatCtrl">
	Items: {{items.length}}
	<ul>
		<li ng-repeat="item in items | orderBy:'id'">
			<b>{{item.name}}</b>
			<br />
			{{item.description}}
		</li>
	</ul>
</div>
<hr>


<div>Test Data: {{testData}}</div>
<form method="GET" action="">
	Test: <input type="text" name="testData" ng-model="testData" />
</form>

</body>
</html>